<a href="https://colab.research.google.com/github/pmensah28/Prince_Mensah/blob/main/DEEP_LEARNING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*mount drive containing dataset from google colab*

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AY0e-g6m15QJK8XoJrIsOY-6dtDZBmsxT43V-hzzvr7v1JJH4o-6F0d7TGQ
Mounted at /content/drive

*Import Libraries*

In [79]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
import warnings
warnings.filterwarnings('ignore')

*Import Dataset from drive*

In [ ]:
accident_data = pd.read_csv("/content/drive/MyDrive/Datasets/Accidents_2016.csv")

*visualize the dataset*

In [ ]:
accident_data

       Accident_Index  ...  LSOA_of_Accident_Location
0       2016010000005  ...                  E01000543
1       2016010000006  ...                  E01000375
2       2016010000008  ...                  E01033725
3       2016010000016  ...                  E01003379
4       2016010000018  ...                  E01002583
...               ...  ...                        ...
136616  2016984130916  ...                        NaN
136617  2016984131116  ...                        NaN
136618  2016984131216  ...                        NaN
136619  2016984131316  ...                        NaN
136620  2016984133416  ...                        NaN

[136621 rows x 32 columns]

*we used the info() function to get some informations about the dataset*

In [ ]:
accident_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136621 entries, 0 to 136620
Data columns (total 32 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   Accident_Index                               136621 non-null  object
 1   Location_Easting_OSGR                        136614 non-null  float64
 2   Location_Northing_OSGR                       136614 non-null  float64
 3   Longitude                                    136614 non-null  float64
 4   Latitude                                     136614 non-null  float64
 5   Police_Force                                 136621 non-null  int64
 6   Accident_Severity                            136621 non-null  int64
 7   Number_of_Vehicles                           136621 non-null  int64
 8   Number_of_Casualties                         136621 non-null  int64
 9   Date                                         136621 non-null  object
 10  Day_of_Week                                  136621 non-null  int64
 11  Time                                         136619 non-null  object
 12  Local_Authority_(District)                   136621 non-null  int64
 13  Local_Authority_(Highway)                    136621 non-null  object
 14  1st_Road_Class                               136621 non-null  int64
 15  1st_Road_Number                              136621 non-null  int64
 16  Road_Type                                    136621 non-null  int64
 17  Speed_limit                                  136584 non-null  float64
 18  Junction_Detail                              136621 non-null  int64
 19  Junction_Control                             136621 non-null  int64
 20  2nd_Road_Class                               136621 non-null  int64
 21  2nd_Road_Number                              136621 non-null  int64
 22  Pedestrian_Crossing-Human_Control            136621 non-null  int64
 23  Pedestrian_Crossing-Physical_Facilities      136621 non-null  int64
 24  Light_Conditions                             136621 non-null  int64
 25  Weather_Conditions                           136621 non-null  int64
 26  Road_Surface_Conditions                      136621 non-null  int64
 27  Special_Conditions_at_Site                   136621 non-null  int64
 28  Carriageway_Hazards                          136621 non-null  int64
 29  Urban_or_Rural_Area                          136621 non-null  int64
 30  Did_Police_Officer_Attend_Scene_of_Accident  136621 non-null  int64
 31  LSOA_of_Accident_Location                    128270 non-null  object
dtypes: float64(5), int64(22), object(5)
memory usage: 33.4+ MB

Missing Values

In [ ]:
accident_data.isna().sum()

Accident_Index                                    0
Location_Easting_OSGR                             7
Location_Northing_OSGR                            7
Longitude                                         7
Latitude                                          7
Police_Force                                      0
Accident_Severity                                 0
Number_of_Vehicles                                0
Number_of_Casualties                              0
Date                                              0
Day_of_Week                                       0
Time                                              2
Local_Authority_(District)                        0
Local_Authority_(Highway)                         0
1st_Road_Class                                    0
1st_Road_Number                                   0
Road_Type                                         0
Speed_limit                                      37
Junction_Detail                                   0
Junction_Control                                  0
2nd_Road_Class                                    0
2nd_Road_Number                                   0
Pedestrian_Crossing-Human_Control                 0
Pedestrian_Crossing-Physical_Facilities           0
Light_Conditions                                  0
Weather_Conditions                                0
Road_Surface_Conditions                           0
Special_Conditions_at_Site                        0
Carriageway_Hazards                               0
Urban_or_Rural_Area                               0
Did_Police_Officer_Attend_Scene_of_Accident       0
LSOA_of_Accident_Location                      8351
dtype: int64

*columns containing null values in the dataset*

In [ ]:
null_columns = ['LSOA_of_Accident_Location','Location_Easting_OSGR','Location_Northing_OSGR','Longitude','Latitude']

*drop all  null columns*

In [ ]:
accident_data = accident_data.drop(null_columns, axis=1)

*fill all the null columns in speed limit with the mean of Speed limit*

In [ ]:
accident_data['Speed_limit'].fillna(accident_data['Speed_limit'].mean(), inplace=True)

In [ ]:
accident_data.isna().sum()

Accident_Index                                 0
Police_Force                                   0
Accident_Severity                              0
Number_of_Vehicles                             0
Number_of_Casualties                           0
Date                                           0
Day_of_Week                                    0
Time                                           2
Local_Authority_(District)                     0
Local_Authority_(Highway)                      0
1st_Road_Class                                 0
1st_Road_Number                                0
Road_Type                                      0
Speed_limit                                    0
Junction_Detail                                0
Junction_Control                               0
2nd_Road_Class                                 0
2nd_Road_Number                                0
Pedestrian_Crossing-Human_Control              0
Pedestrian_Crossing-Physical_Facilities        0
Light_Conditions                               0
Weather_Conditions                             0
Road_Surface_Conditions                        0
Special_Conditions_at_Site                     0
Carriageway_Hazards                            0
Urban_or_Rural_Area                            0
Did_Police_Officer_Attend_Scene_of_Accident    0
dtype: int64

*Drop rows containg null values*

In [ ]:
accident_data = accident_data.dropna(axis=0).reset_index(drop=True)

*Now print to view whether are there still null values in the dataset*

In [ ]:
print('Total missing values: ', accident_data.isna().sum().sum())

Total missing values:  0

In [ ]:
accident_data

       Accident_Index  ...  Did_Police_Officer_Attend_Scene_of_Accident
0       2016010000005  ...                                            1
1       2016010000006  ...                                            1
2       2016010000008  ...                                            1
3       2016010000016  ...                                            1
4       2016010000018  ...                                            1
...               ...  ...                                          ...
136614  2016984130916  ...                                            1
136615  2016984131116  ...                                            1
136616  2016984131216  ...                                            1
136617  2016984131316  ...                                            1
136618  2016984133416  ...                                            1

[136619 rows x 27 columns]

*view columns with objects*

In [ ]:
{column: len(accident_data[column].unique()) for column in accident_data.columns if accident_data.dtypes[column] == 'object'}

{'Accident_Index': 136619,
 'Date': 366,
 'Local_Authority_(Highway)': 207,
 'Time': 1439}

unnecessary columns

*assign the unnecessary columns to a variable and drop them*

In [ ]:
un_columns = ['Accident_Index','Date','Time','Local_Authority_(District)','Local_Authority_(Highway)','1st_Road_Number','2nd_Road_Number','Police_Force']

In [ ]:
accident_data = accident_data.drop(un_columns, axis=1)

In [ ]:
accident_data

        Accident_Severity  ...  Did_Police_Officer_Attend_Scene_of_Accident
0                       3  ...                                            1
1                       3  ...                                            1
2                       3  ...                                            1
3                       3  ...                                            1
4                       3  ...                                            1
...                   ...  ...                                          ...
136614                  3  ...                                            1
136615                  3  ...                                            1
136616                  3  ...                                            1
136617                  3  ...                                            1
136618                  3  ...                                            1

[136619 rows x 19 columns]

DATA SPLITTING AND SCALING

In [72]:
y=accident_data['Accident_Severity'].copy()
X=accident_data.drop('Accident_Severity', axis=1).copy()

In [74]:
y.unique()

array([3, 2, 1])

In [75]:
y=y-1

*convert all the values to float*

In [77]:
X=X.astype(np.float)

*scale the features*

In [82]:
scaler = StandardScaler()
X=scaler.fit_transform(X)

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.70, random_state=99)

TRAINING

In [84]:
X.shape

(136619, 18)

In [101]:
inputs = tf.keras.Input(shape=(X.shape[1],))
x = tf.keras.layers.Dense(64, activation="relu")(inputs)
x = tf.keras.layers.Dense(64, activation="relu")(x)
outputs = tf.keras.layers.Dense(3, activation="softmax")(x)

model = tf.keras.Model(inputs, outputs)

model.compile(optimizer="adam",
    loss="sparse_categorical_crossentropy",
    metrics=["accuracy"]
)

batch_size = 32
epochs =20

history = model.fit(
    X_train,
    y_train,
    validation_split = 0.2,
    batch_size = batch_size,
    epochs = epochs,
    callbacks=[
               tf.keras.callbacks.ReduceLROnPlateau(),
               tf.keras.callbacks.EarlyStopping(
                   monitor = "val_loss",
                   patience=3,
                   restore_best_weights=True
               )
    ]
)

Epoch 1/20
2391/2391 [==============================] - 4s 2ms/step - loss: 0.4920 - accuracy: 0.8286 - val_loss: 0.4875 - val_accuracy: 0.8259
Epoch 2/20
2391/2391 [==============================] - 4s 2ms/step - loss: 0.4822 - accuracy: 0.8290 - val_loss: 0.4853 - val_accuracy: 0.8261
Epoch 3/20
2391/2391 [==============================] - 4s 2ms/step - loss: 0.4798 - accuracy: 0.8290 - val_loss: 0.4879 - val_accuracy: 0.8265
Epoch 4/20
2391/2391 [==============================] - 4s 2ms/step - loss: 0.4786 - accuracy: 0.8290 - val_loss: 0.4849 - val_accuracy: 0.8266
Epoch 5/20
2391/2391 [==============================] - 4s 2ms/step - loss: 0.4777 - accuracy: 0.8291 - val_loss: 0.4835 - val_accuracy: 0.8258
Epoch 6/20
2391/2391 [==============================] - 4s 2ms/step - loss: 0.4764 - accuracy: 0.8292 - val_loss: 0.4853 - val_accuracy: 0.8263
Epoch 7/20
2391/2391 [==============================] - 6s 2ms/step - loss: 0.4757 - accuracy: 0.8292 - val_loss: 0.4839 - val_accuracy: 0.8264
Epoch 8/20
2391/2391 [==============================] - 4s 2ms/step - loss: 0.4752 - accuracy: 0.8293 - val_loss: 0.4840 - val_accuracy: 0.8266

In [102]:
model.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         [(None, 18)]              0
_________________________________________________________________
dense_6 (Dense)              (None, 64)                1216
_________________________________________________________________
dense_7 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_8 (Dense)              (None, 3)                 195
=================================================================
Total params: 5,571
Trainable params: 5,571
Non-trainable params: 0
_________________________________________________________________

In [108]:
 print("Test Accuracy:", model.evaluate(X_test, y_test, verbose=0)[1])

Test Accuracy: 0.8292099833488464